@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*CONFIGURAÇÃO DAS CORES UTILIZADAS NO SITE*/
:root{
    --cor1:#2685BF; 
    --cor2:#3D9DD9;
    --cor3:#5FB6D9; 
    --cor4:#94D7F2; 
    --cor5:#cef6ff; 
}
/*CONFIGURAÇÃO DO CORPO DO SITE*/
body{
    padding: 0px; 
    margin: 0px;
    background-color: var(--cor5);
}
/*CONFIGURAÇÃO DO CABEÇALHO DO SITE*/
header{
    background-image: linear-gradient(to top, var(--cor1), var(--cor3));
    padding: 10px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
    
} 
header > h1{
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-family: 'Mystery Quest', serif;
   
} 
header > p{
    text-align: center;
    color: white;
    padding: 0px 0px 10px 0px;
    line-height: 1.6; 
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
} 
header > nav > a{
    color: white;
    text-decoration: none; 
    padding: 10px 15px;
    transition: color 0.3s; 
    line-height: 1.6; 
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    display: inline-block;
    transition: background-color 0.3s ease-in-out; 
} 
h2,h3{
    font-family: 'Average', serif;
}
nav a:hover{
    color: var(--cor4);
    background-color: var(--cor2);
    
} 

main{
    background-color: white;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px; 
}
main > section > p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6; 
    font-size: 1.1rem;
    text-align: justify;
}
main > section >ul{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6; 
    font-size: 1.1rem;
    text-align: justify;
}
.titulo{
    color: var(--cor1);
}
/*CONFIGURAÇÃO SOBRE O LIVRO*/

.secao-livro{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 40px; 
    padding: 20px; 
    max-width: 1100px;
    margin: 0 auto; 
}
.texto-conteudo{
    flex: 1;
}
.texto-conteudo h2{ 
    margin-bottom: 15px; 
}
.texto-conteudo p{
    line-height: 1.6; 
    font-size: 1.1rem;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
} 
.imagem-container{
    flex: 1;
    max-width: 400px; 
}
.imagem-container img{
    width: 80%; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
@media (max-width: 768px){
    .secao-livro{
        flex-direction: column; 
        text-align: center;
    }
    .imagem-container{
        max-width: 80%;
    }
}
/*CONFIGURAÇÃO SOBRE O RESUMO DO LIVRO*/
#paragrafo{
    padding-bottom: 20px;
}
/*CONFIGURAÇÃO CURIOSIDADES*/ 
.titulo{
    margin-top: 25px;
}
/*CONFIGURAÇÃO DA PARTE SOBRE OS PERSONAGENS*/
#personagens{
    background-color: var(--cor4);
    padding: 10px 10px; 
    margin: 0px -20px 0px -20px;
    border-radius: 0 0 10px 10px;
    
}
#personagens > h2,h3{
    color: white;
    border-radius: 8px 0 0 8px;
}
#personagens > h2{
    background-color: var(--cor2);
    margin: 0;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    
}
#personagens > h3{
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding: 8px 8px; 
}
/*CONFIGURAÇÃO DA PARTE DO AUTOR*/ 
.container-autor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px; 
    margin: 20px auto;
    max-width: 1000px; 
}
.texto-autor{
    flex: 1;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6; 
    font-size: 1.1rem;
    text-align: justify
}
.foto-autor img{
    max-width: 300px; 
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
@media(max-width: 768px){
    .container-autor{
        flex-direction: column;
        text-align: center;
    }
}
.texto-autor > p > a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor3);
}
.texto-autor > p > a:hover{
    border-bottom: 1px solid var(--cor1);
}

/*CONFIGURAÇÃO DO RODAPE DO SITE*/ 
footer {
    background-image: linear-gradient(to bottom, var(--cor1), #1a5b82); 
    color: white;
    text-align: center;
    line-height: 1.6; 
    padding: 15px 10px; 
    font-family: 'Open Sans', sans-serif;
    border-top: 5px solid var(--cor3); 
}

footer p {
    margin-bottom: 10px;
    font-size: 1rem;
}


footer p:first-child {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--cor5);
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

footer a:hover {

    color: var(--cor5);
    border-bottom: 1px solid var(--cor5);
}